
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

/* estilo general del body */

body {
    background-color: #58626C;
    color: #F5F1EE;
    font-family: Verdana;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* estilo general del header */
header {
    grid-row: 1;
    color: #000000;
}

/* estilo general del main */
main {
   
    grid-row: 2;
}

/* Estilo general del footer */
footer {
    margin-top: 6rem;
    left: 0;
    grid-row: 3;
    background-color: #ECC1A1;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top: 1px solid #000000;
    text-align: center;
    color: #000000;

}


/* contenido del header general */

.banner {
    background-color: #ECC1A1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom: 1px solid #000000;

}

/* editando el logo general */

.logo {

    margin-left: 10px;

}

.logo-contenido {

    text-decoration: none;
    color: inherit;

}

.logo-letra {
    font-size: 2rem;
}

/* hasta aca edicion del logo */


/* menu de navegacion general */

.nav-link:hover {

    color: black;
}

/* HASTA AQUI ESTILOS GENERALES */




/* N°1 editando page INICIO / index.html*/

/* estilos para los 3 tipos de pantalla */

/* titulo h1  biografia */
.titulo-index-biografia {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* titulo h2 exitos destacados */
.titulo-exitos {
    text-align: center;
    margin: 1rem;
}



/* contenido para pantalla de celular */
@media screen and (max-width:600px) {


    /* contenedor article y aside */
    .container-biografia {
        margin-top: 1rem;
        display: grid;
        grid-gap: 1rem;
    }

    /* editando contenedor article */
    .texto-biografia {
        margin: 2rem;
        grid-row: 2;
        text-align: left;

    }

    /* editando contenedor aside */
    .img-biografia {
        grid-row: 1;
    }

    /* editando contenido aside */
    .img-biografia img {
        max-width: 100%;
        object-fit: cover;
    }

    /* section para pantalla de celular INICIO */


    /* contenedor section */
    .canciones {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(3, 33.33%);
    }

    /* contenido del section */
    .cancion-tres,
    .cancion-cinco,
    .cancion-seis {
        display: none;
    }

    /* orden del section */
    .cancion-cuatro {
        grid-row-start: 1;
    }

}



@media screen and (min-width:600px) and (max-width:1024px) {
   

    /* contenedor div  */
    .container-biografia {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }

    /* contenedor article */
    .texto-biografia {
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 1rem;

    }
    .img-biografia{
        grid-row: 1;
    }

    /* contenedor section */
    .canciones {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 100%);
        grid-gap: 1rem;
    }
    .footer-index{
        margin-top: 20rem;
        bottom: 0;
        grid-row:7;
    }
}


/* contenido para pantalla de escritorio/desktop */
@media screen and (min-width:1024px) {

    /* contenedor div  */
    .container-biografia {
        margin-top: 2rem;
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    /* contenedor article */
    .texto-biografia {
        margin-left: 2rem;
        grid-column: 1;

    }

    /* contenedor aside */
    .img-biografia {
        grid-column: 2;
    }

    /* contenedor section */
    .canciones {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 100%);
        grid-gap: 1rem;
    }
    .footer-index{
        margin-top: 20rem;
        bottom: 0;
        grid-row:7;
    }
}

/* N°1 hasta aqui page INICIO / index.html*/



/* N°2 editando page RECITALES / recitales.html */

/* edicion de la lista general para los 3 tipos de pantalla */

/* editando lista */
.cuadro-enlistado ul {
    list-style-type: none;
    padding: 0;
}

.cuadro-enlistado li {
    height: 5rem;
    border-bottom: 2px solid #01030b;
}

.cuadro-enlistado a {
    display: block;
    color: #58626C;
    text-decoration: none;
    text-align: center;
}

.cuadro-enlistado a:hover {
    color: rgb(0, 0, 0);

}

/* hasta aca edicion de lista */

/* editando titulo general para page recitales para los 3 tipos de pantalla */

/* editando el titulo */
.titulo-recitales {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* editando estilos de la lista para los 3 tipos de pantalla  */
/* editando aside / lista */
.cuadro-enlistado {
    background-color: #dac8be;
    border: 1px solid #000000;
    height: 40rem;

}

/* editando los link de la lista */
.cuadro-enlistado ul li a {
    font-size: 1.2rem;
    text-align: center;
}


/* contenido para pantalla de celular */
@media screen and (max-width:600px) {

    /* contenedor del aside / lista */
    .cuadro-enlistado {
        margin: 1rem;
    }

    /* contenido del article */
    .imagen-escritorio {
        display: none;
    }
}


/* contenido para pantalla de tablet */
@media screen and (min-width:600px) and (max-width:1024px) {


    /* contenedor del aside */
    .cuadro-enlistado {

        margin: 1rem 20% 1rem 20%;
    }

    /* contenido del article */
    .imagen-escritorio {
        display: none;
    }
}


/* contenido para pantalla de escritorio/desktop */
@media screen and (min-width:1024px) {


    /* contenedor div  */
    .contenedor-recitales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "imagen cuadro";
        grid-gap: 1rem;
    }

    /* contenedor aside / lista */

    .cuadro-enlistado {
        grid-area: cuadro;
        margin: 1rem;
        width: auto;
    }

    /* contenedor article */
    .imagen-escritorio img {
        grid-area: imagen;
        align-self: flex-end;
        margin: 1rem;
        width: 100%;
        height: 40rem;
    }

}

/* N°2 Hasta aqui page RECITALES / recitales.html */


/* N°3 editando page Contacto / contacto.html */



/* contenido general para los 3 tipos de pantalla */

/* edicion del titulo h1 contacto */
.titulo-contacto {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}


/* editando el formulario / article */
.container-contacto textarea {
    resize: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    color: #030303;
    background-color: #F5F1EE;
    border: none;
}

.form-group button {
    padding: 10px 20px;
    background-color: #ECC1A1;
    color: #080101;
    border: 1px 1px rgb(8, 8, 8);
    cursor: pointer;
}

.form-group button:hover {
    background-color: #fcceac;
}

/* hasta aca edicion del formulario / article */

/* contenedor del div */
.container-contacto {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* contenido para pantalla de celular */
@media screen and (max-width:600px) {



    /* contenedor del article */
    .formulario {
        margin: 1rem;
        width: 100%;
        background-color: #dac8be;
        padding: 1rem;
        border-radius: 5%;
        box-shadow: 3px 3px 3px 3px#202020;
        color: black;
    }


}

/* contenido para pantalla de tablet */
@media screen and (min-width:600px) and (max-width:1024px) {



    /* edicion contenido del div / formulario */
    .formulario {
        width: 80vh;
        margin: 1rem;
        background-color: #dac8be;
        padding: 1rem;
        border-radius: 5%;
        box-shadow: 3px 3px 3px 3px#202020;
        color: black;
    }

    /* hasta aqui edicion del formulario */
}

/* contenido para pantalla de escritorio/desktop */
@media screen and (min-width:1024px) {



    /* edicion contenido del div / formulario */
    .formulario {
        width: 80vh;
        margin: 1rem;
        background-color: #dac8be;
        padding: 1rem;
        border-radius: 5%;
        box-shadow: 3px 3px 3px 3px#202020;
        color: black;

    }

    /* hasta aqui edicion del formulario */
}

/* N°3 Hasta aqui page Contacto / contacto.html */



/* N°4 editando page Albumes / albumes.html */

/* estilos para los 3 tipos de pantalla */
/* editando titulo */
.titulo-discografia {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}



/* contenido para pantalla de celular*/

@media screen and (max-width:600px) {

    /* contenedor div de los albumes */
    .album {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        grid-template-rows: repeat(18, 22rem);
        margin: 1rem;
    }


}

/* contenido para pantalla de tablet */
@media screen and (min-width:600px) and (max-width:1024px) {
    /* contenedor div de los albumes */

    .album {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 22rem);
        gap: 1rem;
        margin: 1rem;
    }

}


/* contenido para pantalla de escritorio/desktop */
@media screen and (min-width:1024px) {

    .album {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        grid-template-rows: repeat(6, 30rem);
        margin: 1rem;

    }

}

/* N°4 Hasta aqui page Albumes / albumes.html */



/* N°5 editando page Galeria / galeria.html */

/* estilos generales para los 3 tipos de pantalla */

/* editando el titulo */
.titulo-galeria {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}



/* edicion del contenido interno del carrusel */
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F1EE;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 40rem;
}


/* contenido para pantalla de celular */
@media screen and (max-width:600px) {

    /* contenedor de los carruseles */
    .contenedor-decarousel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
        justify-items: center;
        margin-bottom: 1rem;
    }

    /* carrusel dos */
    .carruseldos {
        display: none;
    }

}


/* contenido para pantalla de tablet */

@media screen and (min-width:600px) and (max-width:1024px) {

    /* contenedor de los carruseles */
    .contenedor-decarousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        align-items: center;
        justify-items: center;
        margin-bottom: 1rem;
    }

    /* carrusel uno */
    .carruseluno {
        display: none;
    }
}


/* contenido para pantalla de escritorio/desktop */
@media screen and (min-width:1024px) {

    /* contenedor de los carruseles */
    .contenedor-decarousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}


/* N°5 Hasta aqui page Galeria / galeria.html */